/* Este repositório base fué creado para ayudarte en caso que no sepas como comenzar, recuerda que el portafolio es tu carta de presentación y debes darle tu cara, por eso te invitamos a personalizarlo según tu estilo y preferencias no te limites apenas al layout propuesto en figma  
*/
:root {
    --color-de-fondo: #F5F5F5;
    --color-de-fondo-menu: #ffffff;
    --color-de-link: #000000;
}

body {
    background-image: url("../assets/dark-paper-layers-background-with-golden.jpg");
    background-color: var(--color-de-fondo);
    font-family: 'Raleway', sans-serif;
    color: white;
    margin: 0;
    box-sizing: border-box;
    padding: 0;
    line-height: 1.6;
}

ol, ul, li {
    list-style: none;
}

a {
    text-decoration: none;
    color: var(--color-de-link);
}

/* ------------------------------ Sección Menú -------------------------------*/
.cabecera {
    display: flex;
    flex-direction: row;
    color: white;
    padding: 20px;
}

.cabecera__logo__titulo{
    display: flex;
    flex-direction: row;
    width: 50%;
}

.cabecera__logo{
    width: 20px;
}

.cabecera__titulo {
    font-size: 1.2rem;
}

.navegacion{
    width: 50%;
}

.navegacion__lista{
    display: flex;
    flex-direction: row;
    justify-content: right;
}

.navegacion__lista li{
    padding-right: 10px;
}

.navegacion__elemento a {
    font-size: 1rem;
}

/* ------------------------------ Sección Presentación ------------------------------*/
.presentacion{
    display: flex;
    flex-direction: row;
    margin: 20px;
    color: white;
}

.presentacion__contenedor{
    width: 50%;
}

img{
    object-fit: cover;
}

.presentacion__titulo{
    font-size: 3rem;
}

.presentacion__subtitulo{
    margin-top: 20px;
    font-size: 2rem;
    
}

.presentacion__imagen{
    width: 50%;
    text-align: center;
}

.presentacion__imagen img{
    width: 100%;
    height: 100%;

    padding-left: 20px;
}

.redes{
    display: flex;
    flex-direction: row;
    margin-top: 20px;
}

.redes__img{
    display: flex;
    flex-direction: row;
    margin-right: 20px;
}

.imagenes{
    width: 20px;
    height: 20px;
}



/* ------------------------------ Sección sobre mí ----------------------------------*/
.sobre-mi{
    margin-left: 50px;
    margin-right: 10px;
}

.sobre-mi__titulo{
    font-size: 25px;
    font-weight: 3px;
}

/*------------------------------ Sección de Habilidades ------------------------------*/
.habilidades{
    text-align: center;
    margin-bottom: 50px;
}

.habilidades__titulo{
    font-size: 2rem;
    margin-bottom: 15px;
}

.habilidades__listas{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.habilidades__lista{
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-around;
}



/*------------------------------ Sección de Aficiones --------------------------------*/
.aficiones{
    text-align: center;
    margin-bottom: 50px;
}

.aficiones__titulo{
    font-size: 25px;
    padding-bottom: 40px;
}

.aficiones__listas{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.aficiones__lista{
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-around;
}

/*------------------------------ Formación académica --------------------------------*/
.formacion{
    text-align: center;
    margin-bottom: 50px;
}

.formacion__titulo{
    font-size: 25px;
    margin-bottom: 40px;
}

.formacion__lista{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}


/*------------------------------ Sección de Proyectos --------------------------------*/
.proyectos{
    text-align: center;
    margin-bottom: 50px;
}

.contacto__imagen{
    width: 50%;
}

.proyectos__titulo{
    font-size: 25px;
    margin-bottom: 40px;
}

.contenedor_proyectos{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

/*------------------------------ Sección de Contacto ---------------------------------*/
.contacto{
    padding-bottom: 50px;
    display: flex;
    flex-direction: row;
}

.contacto__imagen{
    text-align: center;
    padding-top: 20px;
}

.contacto__imagen img{
    width: 300px;
    height: 200px;
}

.contacto__titulo{
    font-size: 25px;
    margin-bottom: 20px;
}

.contacto__formulario{
    display: flex;
    flex-direction: column;
    width: 200px;
}

.contacto__campo{
    margin-bottom: 20px;
    color: black;
}

.contacto__boton{
    background-color: blue;
}

/* ------------------------------ Responsividad ---------------------------------------*/

/* Tablets */
@media (max-width: 768px) {
    .cabecera {
        justify-content: space-between;
        align-items: center;
        padding: 5px;
    }

    .cabecera__logo__titulo{
        padding: 1rem;
        width: 50%;
    }

    .navegacion__lista {
        display: flex;
        flex-direction: row;
        gap: 0.8rem;
    }

    .navegacion__elemento a {
        font-size: 0.8rem;
    }

    .presentacion__titulo{
        font-size: 2rem;
    }
    
    .presentacion__subtitulo{
        margin-top: 20px;
        font-size: 1rem;
        
    }

    .presentacion__imagen img{
        width: 70%;
    }

    .contacto__imagen{
        display: none;
    }

    .contacto__datos{
        pardding-left: 50px;
    }
    
}

/* Mobile */
@media (max-width: 600px) {

    .cabecera{
        flex-direction: column;
    }

    .cabecera__titulo {
        font-size: 0.8rem;
    }

    .navegacion__elemento {
        justify-content: start;
    }

    .navegacion__elemento a {
        font-size: 0.6rem;
    }

    .presentacion{
        flex-direction: column-reverse;
    }

    .presentacion__titulo{
        font-size: 1rem;
        padding-top: 20px;
    }
    
    .presentacion__subtitulo{
        margin-top: 20px;
        font-size: 0.8rem;
        
    }

    .sobre-mi__titulo{
        font-size: 1rem;
    }

    .sobre-mi__texto{
        padding-top: 10px;
    }

    .habilidades{
        margin-top: 40px;
    }

    .habilidades__titulo{
        font-size: 1.5rem;
    }

    .habilidades__listas{
        flex-direction: column;
    }

    .habilidades__lista{
        flex-direction: row;
        padding-top: 10px;
    }

    .aficiones__titulo{
        padding-bottom: 20px;
    }

    .aficiones__listas{
        flex-direction: column;
    }
    
    .aficiones__lista{
        flex-direction: row;
        padding-top: 10px;
        padding-bottom: 20px;
    }
    
    .formacion__lista{
        flex-direction: column;
    }

    .contenedor_proyectos{
        flex-direction: column;
    }

    .formacion__elemento{
        width: 80%;
    }

    .contacto{
        padding-bottom: 10px;
    }

    .contacto__datos{
        padding-left: 10px;
    }

    .contacto__formulario{
        width: 140px;
    }

}
